header h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  margin:0;
  background-color:black;
  background-image:url('http://i0.kym-cdn.com/photos/images/newsfeed/000/328/161/576.gif');
}

#renderer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

#background {
   background-image:url('http://i0.kym-cdn.com/photos/images/newsfeed/000/328/161/576.gif');
   /* background-size: cover; */
   background-repeat: repeat;
   width: 100%;
   z-index: -1;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   filter: blur(5px);
   /* filter: saturate(100); */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top:15px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

.container {
    width: 1000px;
}
.container nav {
    width: 1000px;
}

.spurdo {
  height:100px;
  width:100px;
   animation: spurdo 1s infinite linear;
}
@keyframes spurdo {
	0% {transform:rotate(0deg)}
	100% {transform: rotate(360deg)}
}
